*,
*::before,
*::after {
  font-family: sans-serif;
  box-sizing: border-box;
}
main {
    display: flex;
    flex-wrap: wrap;
  }
  
  .main-content {
    padding-inline: 10%;
    flex: 1 1 80%;
    min-height: 130vh;
  }

.grid{
    display: grid;
    height: 100%;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
}


.doos{
    background: rgb(2,0,36);
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 8px;

}
.doos > p {
    padding: 0.6em; 
}
.LINK{
    text-decoration: none;
    color: black;

}
.NICEMAN {
    background: white;
    border-radius: 8px;

    border: 2px solid black;
}

.grid2{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}
.griditems21 {
    grid-row: 1;
    grid-column: 1/2;
}
.griditems22 {
    grid-row: 1;
    grid-column: 2/3;
}
.griditems23 {
    grid-row: 1;
    grid-column: 3;
}
.griditems24 {
    grid-row: 2;
    grid-column: 1/2;
}
.griditems25 {
    grid-row: 2;
    grid-column: 2/3;
}
.griditems26 {
    grid-row: 2;
    grid-column: 3;
}


p > button {
    margin-top: 10px;
}
.imgUP{
    display: block;
    max-height:300px;
}